.App {
  text-align: center;
  background: #F8F9FA;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.registered,.btn, input{
   margin-top: 2%;
  margin-bottom: 2%;

}

.login{
  margin-top: 2%;
  margin-bottom: 1%;
}


.footer{
  margin-top:1%;
  font-size: small;
 
}
form{
  margin-top: 40px;
  margin-bottom: 30px;
}
.products{
  padding: 40px;

}


.footer, nav, .menu{
  background :rgb(179, 12, 12);
}


.login-input{
    max-block-size: 300px;
}

.culture,.gallary{
  margin-top: 40px;
}
gallary{
  height: 300px;
}


input[type="text"],
input[type="password"],
 button[type="submit"]{
  margin-top:10px ;
  width: 50%;
  padding: 10px;
  border-radius: 40px;
  outline: none;

 
}
.social-media{
  padding: 50px;
}

textarea[type="textarea"]{
    width: 51%;
    height: 200px;
    padding:10px;
    margin-top: 15px;
    border-radius: 40px;
     outline: none;
     
   
}

@media(max-width:700px){
  input[type="text"],button[type="submit"],
  textarea[type="textarea"]
    input[type="password"] {
  margin:10px ;
  width: 80%;
  height: 70%;
  padding: 10px;
   border-radius: 40px;
    outline: none;
  }
}



@media(max-width:800px){
  .banner{
    
    
    max-width: 700px;
    max-height: 50px;
  }
  

}
@media(max-width:800px){
  .prevent{
    max-width: 410px;
  }
  

}
.contact-text{
  width: 40%;
}

@media (max-width:700px){
.btn{
  margin:10px ;
  width: 50%;
  padding: 10px;
border-radius: 70px;

outline: none;
  
  }
}
.banner{
  max-height: 50px;
}

.preventive{
  margin: 10px;

}

.logo{
  border-radius: 40px;


}
h5, h6{
  margin-top: 1500px;
}
img{
 
  max-width: 300px;
  max-height: 200px;
}

.image{
  margin: 10px;
  width: 210px;
  height: 200px;
}

.fa1{
  padding: 10px;
  margin-right: 40px;
  width: 30px;
  height: 30px;
  background: rgb(179, 12, 12);
  border-radius: 15px;
  color: white;
  
}
.terms{
  font-size: small;
  margin-left : 40px;
}

.media-handle{
  position: absolute;
  left: 5px;
  top: 200px;
  
  


}

ul{
  display: block;
  list-style-position: inside;
  list-style-type:none;
  font-size: x-large;

  
 
 

}

.our-services{
  color: rgb(179, 12, 12);
  font-size: xx-large;

}